.car-form {
    width: 100%;
    height: 70vh;
    position: absolute;
    top: 52%;
    left: 50%;
    transform: translate(-50%, -53%);
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    margin-left: 10px;
    margin-right: 10px;

}

.car-container-form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
  }


.car-container-form-second{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    
}

.car-container-form-details{
   width: 290px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px; /* Zaokrąglenie rogów */
    overflow: hidden;
    transition: box-shadow 0.3s ease-in-out;

}

.car-image {
    width: 100%; /* Zmiana szerokości dla małych urządzeń */
    height: auto;
    overflow: hidden;
}

/* Responsywność na urządzenia mobilne */
@media (max-width: 768px) {
    .car-form {
      width: 85%; /* Zmniejsz szerokość formularza na urządzeniach mobilnych */
      height: auto; /* Ustaw automatyczną wysokość */
      top: 90%; /* Dostosuj pozycję na ekranie */
      transform: translate(-50%, -50%); /* Przesuń do środka */
      margin: 5px; /* Dodaj margines na wszystkich krawędziach */
      display: flex;
      flex-direction: column;
    }
  
    .car-container-form {
      grid-template-columns: 1fr; /* Zmień układ na jedną kolumnę */
      gap: 15px; /* Zmniejsz odstęp między elementami */
    }
  
    .car-container-form-second {
      display: flex;
      flex-direction: column;
      align-items: center; /* Wyśrodkuj zawartość */
    }
  
    .car-container-form-details {
      width: 100%; /* Ustaw na 100% szerokości */
      max-width: 300px; /* Ogranicz maksymalną szerokość */
      margin: 0 auto; /* Wyśrodkuj w kontenerze */
    }
  
    .car-image {
      width: 100%; /* Ustaw na 100% szerokości */
      height: auto; /* Ustaw automatyczną wysokość */
    }
  }
  