.car-form {
    width: 100%;
    height: 70vh;
    position: absolute;
    top: 52%;
    left: 50%;
    transform: translate(-50%, -53%);
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;

}

.car-container-form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
  }

.car-container-form-first{
    
}
.car-container-form-second{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    
}

.car-container-form-details{
   width: 290px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px; /* Zaokrąglenie rogów */
    overflow: hidden;
    transition: box-shadow 0.3s ease-in-out;

}

.car-image {
    width: 100%; /* Zmiana szerokości dla małych urządzeń */
    height: auto;
    overflow: hidden;
}