/* Styl dla kontenera logowania */
.login-container {
    width: 70%;
    height: 70vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -53%);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    margin-left: 10px;
    margin-right: 10px;

    
  }
  
/* Styl dla wnętrza kontenera logowania */
.login-container-inside {
    width: 30%;

    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #ffffff;
    text-align: center;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  }
  
  /* Styl dla labeli */
  label {
    display: block;
    margin-bottom: 6px;
  }
  
  /* Styl dla inputów */
  input {
    width: calc(100% - 12px); /* Szerokość inputu odjęta od paddingu */
    padding: 8px;
    margin-bottom: 10px;
  }
  
  /* Styl dla przycisku */
  button {
    width: 102%;
    padding: 8px 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 10px; /* Dodanie odstępu u góry */
    margin-bottom: 10px; /* Dodanie odstępu na dole */
  }
  
  /* Styl dla przycisku po najechaniu kursorem */
  button:hover {
    background-color: #0056b3;
  }
  
  /* Styl dla linku */
  a {
    color: #007bff;
    text-decoration: none;
  }
  
  /* Styl dla linku po najechaniu kursorem */
  a:hover {
    text-decoration: underline;
  }


  /* Media query dla urządzeń o szerokości poniżej 768px */
@media (max-width: 768px) {
  .login-container {
    width: 90%; /* Zmiana szerokości na mniejszą dla mniejszych urządzeń */
    height: auto; /* Dostosowanie wysokości automatycznie */
    top: unset; /* Usunięcie wartości top */
    left: unset; /* Usunięcie wartości left */
    transform: unset; /* Usunięcie transformacji */
  }

  .login-container-inside {
    width: 80%; /* Zmiana szerokości wnętrza dla mniejszych urządzeń */
    margin-top: 20px; /* Dodanie odstępu u góry */
    margin-bottom: 20px; /* Dodanie odstępu na dole */
  }
}