/* Twój CSS */
.rental-list-container {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.rental-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.rental-item {
    width: calc(100% - 20px); /* Zmiana szerokości dla małych urządzeń */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px; /* Zaokrąglenie rogów */
    overflow: hidden;
    transition: box-shadow 0.3s ease-in-out;
}

.rental-image {
    width: 100%; /* Zmiana szerokości dla małych urządzeń */
    height: auto;
    overflow: hidden;
}

.rental-image img {
    width: 100%;
    height: auto;
    object-fit: cover;
    cursor: pointer;
}

/* Podświetlenie po najechaniu */
.rental-item:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

@media (min-width: 788px) {
    .rental-item {
        width: calc(20% - 10px); /* Powrót do oryginalnej szerokości na większych ekranach */
    }
}

